.about {
    height: 500px;
    background-color: $shadow;
    padding-top: 50px;
    background: url('../../img/garage.jpeg') center (center/cover) no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__wrapper {
        position: relative;
        display: grid;
        grid-template-rows: 30% 70%;
        grid-template-columns: 1fr;
    }
    &__text {
        margin-top: 50px;
        color: #fff;
    }
}