.examples {
<<<<<<< HEAD
    height: 800px;
=======
    height: 700px;
>>>>>>> 8aaa62ef618b051ab9751b4ab2a2de0b85d78d0e
    background-color: $shadow;
    padding-top: 50px;
    &__wrapper {
        position: relative;
        display: grid;
        grid-template-rows: 30% 70%;
        grid-template-columns: 1fr;
    }
    &__layout {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 30px;
        padding: 0 20px 0 20px;
    }
    &__card {
<<<<<<< HEAD
        position: relative;
        height: 500px;
        width: 300px;
        border-radius: 10px;
        overflow: hidden;
        transition: all 0.5s;
        &-text {
            opacity: 0;
            position: absolute;
            bottom: 30px;
            height: 250px;
            width: 250px;
            padding: 10px;
            margin: 0 auto;
            z-index: 10;
            transition: all 0.5s;
=======
        height: 300px;
        width: 250px;
        &-text {
            padding-top: 20px;
>>>>>>> 8aaa62ef618b051ab9751b4ab2a2de0b85d78d0e
        }
        &-title {
            color: #fff;
        }
        &-descr {
<<<<<<< HEAD
            margin-top: 20px;
            color: #fff;
            text-align: justify;
        }
        &-img {
            position: absolute;
            z-index: 0;
            height: 100%;
            width: 100%;
            overflow: hidden;
            margin: 0 auto;
            transition: all 0.5s;
=======
            color: #fff;
        }
        &-img {
            height: 150px;
            width: 250px;
            overflow: hidden;
>>>>>>> 8aaa62ef618b051ab9751b4ab2a2de0b85d78d0e
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
<<<<<<< HEAD
}

.active {
    .examples__card-img {
        transform: scale(1.2);
        opacity: 0.5;
    }
    .examples__card-text {
        opacity: 1;
    }
=======
>>>>>>> 8aaa62ef618b051ab9751b4ab2a2de0b85d78d0e
}