.services {
    height: 800px;
    background-color: $shadow;
    padding-top: 50px;
    &__wrapper {
        position: relative;
        display: grid;
        grid-template-rows: 30% 70%;
        grid-template-columns: 1fr;
    }
    &__item {
        display: grid;
        grid-template-columns: 10% 90%;
        grid-template-rows: 1fr;
        margin: 10px 0 10px 10px;
    }
    &__circle {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;
        border-radius: 100%;
        border: 1px solid #fff;
    }
    &__text {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        cursor: pointer;
    }
    &__title {
        color: #fff;
    }
    &__descr {
        color: #fff;
    }
}